#content {
   background-color: maroon;
   font-size: 8px;
   width: 500px;
   height: 100px;
   padding: 20px;
}

#left, #right {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: 50%;
}

#left {
    background-color: blue;
    margin-right: 40px;
}

#right {
    background-color: green;
}